// ./src/styles/newsletter/_newsletter-page.scss

@use '../_variables' as *;

#newsletter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-family: 'SpaceMono', sans-serif;
  }

  main {
    margin-top: 4em;
    margin-bottom: 6em;
    padding: 0;
    width: 100%;
    height: fit-content;

    h3 {
      font-family: 'Barlow', sans-serif;
      color: $silver;
      margin-bottom: 20px;
    }
  }
}