---
// file: ./src/pages/blog/index.astro
import "../../styles/global.scss";
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import PgLoader from "../../components/PgLoader.astro";
import PgLoaderRadical from "../../components/PgLoaderRadical.astro";
import PgBg from "../../components/PgBg.astro";
import { ftSlug } from "../../utils/strUtil";
import { formatDate } from "../../utils/formatDate";
import Catalog from "../../components/blog/catalog";

// This tells Astro to prerender this page at build time.
export const prerender = true;

// Fetch collections from your content sources.
const heaven = await getCollection("heaven");
const announcements = await getCollection("announcements");
const community = await getCollection("community");
const author = await getCollection("author");
const events = await getCollection("events");
const releases = await getCollection("releases");

// Combine and sort your blogs (descending by publication date).
const blogs = [
  ...heaven,
  ...announcements,
  ...community,
  ...author,
  ...events,
  ...releases,
].sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script is:inline type="module">
      import { init } from "/scripts/fade/index.js";
      init({
        loaderId: "pre-loader",
        fadeOutDuration: 100,
        fadeInDuration: 1000,
        fadeInTimeout: 500,
        transitionDelay: 1000,
        contentSelector: ".content",
      });
    </script>
  </head>
  <body id="blog">
    <!-- Loader overlay -->
    <PgLoader />
    <PgLoaderRadical />

    <!-- Bg -->
    <PgBg />

    <!-- Content -->
    <div className="content">
      <Header />
      <Catalog blogs={blogs} client:load />
      <Footer />
    </div>
  </body>
</html>
