/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@use './general/font';
@use './general/header';
@use './general/footer';
@use './general/bg';
@use './blog/blog';
@use 'home';

:root {
	--color-1: #d3cbe7;
	--color-2: #98a5dc;
	--color-3: #5d82c0;
	--color-4: #426694;
	--color-5: #293761;
	--accent: var(--color-1);
	--accent-dark: var(--color-3);
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

html, body {
    height: 100%;
	width: 100%;
    margin: 0;
}

/* Background */
body::before {
	content:"";
	position: fixed;
	inset:0;
	z-index: -1000;
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity:0.2;	
	background-color: #293761;
	background-image: url("/galaxy.jpg");
}
body {
	/* font */
	font-family: 'SpaceMono', sans-serif;
	color: #f6f4fb;
	font-size: 20px;
	line-height: 1.7;
	/* background */
	margin: 0;
	padding: 0;
	height: 100wh;
	min-height: 500px;
	display: flex;
    flex-direction: column;
	gap: 2em;	
	background-color: rgba(var(--gray-dark));
	overflow: auto;
}
main {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
    flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;
	text-align: center;
}

/* Headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--color-2);
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

/* Text */
strong,
b {
	font-weight: 700;
}

/* Text Links*/
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent-dark);
}

/* List */
ul {
	list-style-type: none;
	padding: 0;
}

/* Divider */
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
