---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Landing from "../components/Landing.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PgLoader from "../components/PgLoader.astro";
import PgLoaderRadical from "../components/PgLoaderRadical.astro";
import PgBgHome from "../components/PgBgHome.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script is:inline type="module">
      import { init } from "/scripts/fadeContentWithPollingPreLoadRadical.js";
      init({
        loaderId: "pre-loader",
        fadeOutDuration: 1000,
        fadeInDuration: 1000,
        fadeInTimeout: 500,
        transitionDelay: 4000,
        contentSelector: ".content",
      });
    </script>
  </head>
  <body id="home">
    <!-- Loader overlay -->
    <PgLoader />

    <!-- Bg -->
    <PgBgHome/>
    <PgLoaderRadical/>

    <!-- Home Page -->
    <div class="content">
      <Header />
      <Landing />
      <Footer />
    </div>
  </body>
</html>
