---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Landing from "../components/Landing.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body id="home">
    <div class="bg-waves"></div>
    <div class="bg-stars"></div>
    <div class="bg-gradient-linear-dark"></div>
    <div class="content">
      <Header />
      <Landing />
      <Footer />
    </div>
  </body>
</html>
