---
import '../styles/global.scss';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Landing from '../components/Landing.astro';
import PgBgHome from '../components/PgBgHome.astro';
import PgLoader from '../components/PgLoader.astro';
import PgLoaderRadical from '../components/PgLoaderRadical.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts.ts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script is:inline type="module">
      import { init } from "/scripts/fade/index.js";
      init({
        loaderId: "pre-loader",
        fadeOutDuration: 1000,
        fadeInDuration: 1000,
        fadeInTimeout: 500,
        transitionDelay: 4000,
        contentSelector: ".content",
      });
    </script>
  </head>
  <body id="home">
    <!-- Loader overlay -->
    <PgLoader />

    <!-- Bg -->
    <PgBgHome />
    <PgLoaderRadical />

    <!-- Home Page -->
    <div class="content">
      <Header />
      <Landing />
      <Footer />
    </div>
  </body>
</html>
