---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SubscribeNewsletter from "../components/SubscribeNewsletter.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PgLoader from "../components/PgLoader.astro";
import PgLoaderRadical from "../components/PgLoaderRadical.astro";
import PgBg from "../components/PgBg.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script is:inline type="module">
      import { init } from "/scripts/fade/index.js";
      init({
        loaderId: "pre-loader",
        fadeOutDuration: 1000,
        fadeInDuration: 1000,
        fadeInTimeout: 500,
        transitionDelay: 1000,
        contentSelector: ".content",
      });
    </script>
  </head>
  <body id="newsletter">
    <!-- Loader overlay -->
    <PgLoader />
    <PgLoaderRadical />

    <!-- Bg -->
    <PgBg />

    <!-- content -->
    <div class="content">
      <Header />
      <SubscribeNewsletter client:load />
      <Footer />
    </div>
  </body>
</html>
