---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SubscribeNewsletter from "../components/SubscribeNewsletter.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body id="newsletter">
    <div class="bg-waves"></div>
    <div class="bg-stars"></div>
    <div class="bg-gradient-linear-dark"></div>
    <Header />
    <SubscribeNewsletter client:load />
    <Footer />
  </body>
</html>
