---
interface Props {
  date: Date;
}

import { dateFormats } from '../utils/dateFormats.ts';

const { date } = Astro.props;

const dateFormatted = dateFormats.date.long(date);
---

<span>{dateFormatted}</span>
