---
/** PgLoader.astro */
import { SITE_TITLE } from '../consts';
---

<div id="pre-loader">
  <div class="bg-triangles-light">
    <div class="bg-pre-fade">
      <h1 id="logo-2" class="border-square">
        <div class="aurora-text-light">{SITE_TITLE}</div>
      </h1>
    </div>
  </div>
</div>
