#blogpost {
  margin: 0;
  padding: 0;

  main {
    margin: 0;
    padding: 0;
    height: fit-content;

    article {
      margin: 2em auto;
      padding: 0;
      width: 100%;
      max-width: 1120px;
      height: fit-content;

      .prose {
        margin: 0;
        padding: 0;
        height: fit-content;

        p {
          margin: 1em;
          padding: 0;
        }
      }
    }
  }
}
