@use '../_variables' as *;

.frosted-container {
    position: relative;
    width: 100%;
    height: 100%; /* Full screen */
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px !important;
}

/* Blurred overlay */
.frosted-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(0.7);
    -webkit-backdrop-filter: blur(10px) brightness(0.7);
    background: radial-gradient(circle, rgba(41, 55, 97, 0.3) 40%, rgba(41, 55, 97, 0) 100%);
    z-index: 1;
    pointer-events: none;
}

.spinner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 10;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: $color-4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.aurora-text {
  position: relative; /* Needed for the pseudo-element */
  background: linear-gradient(45deg, $color-4, $color-1, $color-3, $color-2, $color-5);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Hides the text color so only the gradient shows */
  animation: aurora-animation 10s ease-in-out infinite;
  transition: all 0.3s ease; /* Optional, for hover effects */
  text-decoration: none;
  z-index: 1;
}

.border-square {
  /* Set a solid border width */
  border: 4px solid;
  /* Use the gradient as the border image */
  border-image: linear-gradient(45deg, oklch(0.962 0.018 272.314), oklch(0.929 0.013 255.508), oklch(0.87 0.065 274.039), oklch(0.984 0.003 247.858), oklch(0.929 0.013 255.508)) 1;
}

.aurora-text-light {
  position: relative; /* Needed for the pseudo-element */
  background: linear-gradient(45deg, oklch(0.962 0.018 272.314), oklch(0.929 0.013 255.508), oklch(0.87 0.065 274.039), oklch(0.984 0.003 247.858), oklch(0.929 0.013 255.508));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Hides the text color so only the gradient shows */
  animation: aurora-animation 10s ease-in-out infinite;
  transition: all 0.3s ease; /* Optional, for hover effects */
  text-decoration: none;
  z-index: 1;
}

/* Define an example animation for the background gradient */
@keyframes aurora-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
