footer {
    /* Display */
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: grid;

    /* Border */
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: dashed;
    border-color: var(--border-light);

    /* Style */
    text-align: center;
    font-size: 16px;
    color: var(--color-3);

    /* Mobile View */
    @media (max-width: 720px) {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    section:first-child {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 3;
    }

    section:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 3;
    }

    section:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row: 3;
    }

    section:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 4;
    }

    section:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 5;
    }

    section:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 6;
    }

    section:nth-child(1),section:nth-child(2),section:nth-child(3) {
        min-height: 14em;
        padding: 1em 4em;
        text-align: left;
    }

    section:nth-child(2),section:nth-child(3) {
        /* Border */
        border-style: dashed;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 1px;
        border-right-width: 0px;
        border-color: var(--border-light);

        a {
            text-decoration-line: none;
        }
        
        /* Mobile View */
        @media (max-width: 720px) {
            border-left-width: 0px;
            border-top-width: 1px;
        }
    }

    section:nth-child(4),section:nth-child(5),section:nth-child(6) {
        min-height: 2em;
        height: fit-content;
        /* Border */
        border-style: dashed;
        border-top-width: 1px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-color: rgba(211, 203, 231, 0.15);
    }

	#logo-2 {
        position: relative;
		font-family: 'SpaceMono-Bold', sans-serif;
		font-style: italic;
		font-size: 48px;

        .title-transparent-text-with-underline {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            color: transparent;
            text-underline-offset: 6px;
        }
	}

	#logo-2 a {
		color: var(--color-2);
        text-decoration-style: wavy;
		text-decoration-color: var(--color-5) !important;		
		text-decoration-thickness: 2px;
	}

    #logo-2 a:hover {
		color: var(--color-1);
	}

    #social {
        li {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;
            font-size: 18px;

            a {
                color: var(--gray-light);
            }

            a:hover {
                color: var(--color-3);
            }
        }
    }

    #helpful-links {
        ul li {
            margin-bottom: 2px;
        }
        a {
            color: var(--gray-light);
        }

        a:hover {
            color: var(--color-3);
        }
    }

    #navigation {
        font-size: 18px;
    }

    #contact-email {
        a {
            color: var(--gray-light);
            font-size: 13px;
        }

        a:hover {
            color: var(--color-3);
        }
    }

    #donate {
        p {
            font-size: 16px;

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #policy {
        height: 100%;
        font-size: 13px !important;
        
        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1em;

            a {
                color: var(--color-2);
            }
            
            a:hover {
                color: var(--color-1);
            }

            li {
                text-align: center;
            }
        }
    }

    #cc {
        font-size: 13px;
    }

    h2 {
        text-decoration-line: underline;
        text-underline-offset: 4px;
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--color-5);
        line-height: 1em;
    }

    ul {
        margin-bottom: 2em;
        li {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;

            a {
                text-decoration: none;
                color: var(--color-3);
            }
                a:hover {
                color: var(--color-2);
            }
        }
    }

    p { 
        margin: 0;
        padding: 8px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        /* Text */
        font-family: 'SpaceMono', sans-serif;
        text-align: center;

        span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}